@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400&family=Playfair+Display&display=swap');

.mono {
    font-family: 'B612 Mono', monospace;
}
.playfair {
    font-family: 'Playfair Display', sans-serif;
}
.flicker-text {
  animation: cursor-blink 0.8s 4 forwards;
}
      @keyframes cursor-blink {
        0%, 100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
    @keyframes fade-in {
      from {
          transform: translateY(-10px);
          opacity: 0;
      }
      to {
          opacity: 1;
          transform: translateY(0px);
      }
  }